<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetCars</servlet-name>
        <servlet-class>MyPaclkage.GetCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>MyPaclkage.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRide</servlet-name>
        <servlet-class>MyPaclkage.AddRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowRides</servlet-name>
        <servlet-class>MyPaclkage.ShowRides</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRide</servlet-name>
        <servlet-class>MyPaclkage.UpdateRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRide</servlet-name>
        <servlet-class>MyPaclkage.DeleteRide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRideValues</servlet-name>
        <servlet-class>MyPaclkage.UpdateRideValues</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCars</servlet-name>
        <url-pattern>/GetCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRide</servlet-name>
        <url-pattern>/AddRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowRides</servlet-name>
        <url-pattern>/ShowRides</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRide</servlet-name>
        <url-pattern>/UpdateRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRide</servlet-name>
        <url-pattern>/DeleteRide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRideValues</servlet-name>
        <url-pattern>/UpdateRideValues</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
